#contact-form {
  .required{
    font-size: 75%;
    color: red;
  }
  .form-field {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    input,
    textarea {
      margin-bottom: 0 !important;
      &.error {
        border: 1px solid red;
      }
    }
    label {
      &.error {
        color: red;
      }
    }
  }
}
.success-message {
  color: green;
}